<div style="text-align:center; margin-left:0px; margin-right:0px">
<h1 style="text-align:center; margin-left:0px; margin-right:0px">Detalle de productos cargados</h1>
</div>
<div style='text-align:center;'>
{{#if products}}
<div style='text-align:center;'>
    <table style="text-align:center; margin-left:0px; margin-right:0px" width='100%' cellspacing='0', cellpadding='0', border='0', bgcolor='#F2F2F2'>
        <tr>
            <th style="width:33%">Nombre</th>
            <th style="width:33%">Precio</th>
            <th style="width:33%">Imagen</th>
        </tr>
        {{#each products}}
        <tr>
               <td><p style="text-align:center">{{this.name}}</p></td>
               <td><p style="text-align:center">{{this.price}}</p></td>
               <td><p style="text-align:center"><img src="{{this.img}}" alt="{{this.img}}" style='width:40%'></p></td>
        </tr>
          {{/each}}
           <tr>
            <td></td>
            <td><p style="text-align:center"><button><a href="/" style="text-decoration:none">Volver a la carga de productos</a></button></p></td>
            <td></td>
         </tr>
    </table>
</div>
{{else}}
    <p style="text-align:center">No hay productos para mostrar</p>
    <p style="text-align:center"><button><a href="/" style="text-decoration:none">Volver a la carga de productos</a></button></p>
{{/if}}



